.contenedorProductos {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.tarjeta {
  margin: 1rem;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-between !important;
}

.imagen {
  object-fit: cover;
  height: 10rem;
}
